.divBody {
  /* MAKE SURE TO REMOVE "" */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15%;
}

.addButton {
  font-size: 60%;
  position: relative;
  top: 20vh;
  margin-right: 5px;
  background-color: green;
  border-radius: 8%;
  color: white;
}
.removeButton {
  font-size: 60%;
  position: relative;
  top: 20vh;
  margin-right: 5px;
  background-color: red;
  border-radius: 8%;
  color: white;
}
.multButton {
  font-size: 60%;
  position: relative;
  top: 20vh;
  margin-right: 5px;
  background-color: orange;
  border-radius: 8%;
  color: white;
}

.counter {
  font-size: 120%;
  position: relative;
  top: 10vh;
}